
.headerpost-wrapper {
  width: 100%;
  height: 600px;
  background: #06606B;
}
.singlepost-wrapper {
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
}
.categoria {
  width: auto;
  height: 30px;
  background: #60B38D;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.categoria p {
  font-size: 13px;
  line-height: 19px;
  font-weight: bolder;
  text-transform: lowercase;
}
.post-titulo {
  height: auto;
  max-width: 700px;
}
.post-titulo p {
  font-size: 40px;
  line-height: 40px;
  font-weight: lighter;
  text-align: center;
}
.singlepost-infos-wrapper {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  top: -400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: auto;
  z-index: 9;
  background: #06606B;
}
.autor-data-leitura-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.post-info-text {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.post-info-text img {
  padding-right: 10px;
  width: auto;
  height: 17px;
}
.white-line {
  padding-bottom: 20px;
}
.white-line img {
  width: 100%;
}
.singlepost-content-wrapper {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  top: -350px;
  border-radius: 10px;
  background: #fff;
  height: auto;
  margin-bottom: -300px;
}
.container-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 40px;
}
.btns-share-left {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 250px;
  left: 50px;
}
.btns-share-left a img {
  width: auto;
  height: auto;
  padding-bottom: 30px;
}
.btns-share-left a img:hover,
.btns-share-left button:hover {
  transition: transform 0.2s ease-out;
  transform: translateY(-0.25em);
  opacity: 0.8;
}
.box-yellow {
  width: 100%;
  height: 65px;
  background: #FCEB65;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.box-yellow p {
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 22px;
  color: #06606B;
}
.box-green {
  width: 100%;
  height: auto;
  background: #60B38D;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border-radius: 2px;
}
.box-green p {
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  padding-bottom: 10px;
}
.box-green button {
  width: 190px;
  height: 35px;
  border: unset;
  border-radius: 4px;
  background: #06606B;
}
.box-green button:hover {
  opacity: 0.9;
}
.box-green button a {
  color: #fff;
  font-size: 10px;
  line-height: 14px;
}
.autor-wrapper {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  border-top: 2px solid #A09F9F;
  border-bottom: 2px solid #A09F9F;
  padding: 50px 0;
  margin: 0 auto;
  margin-bottom: 50px;
}
.autor-wrapper img {
  width: auto;
  height: auto;
}
.autor-share {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.comentarios-wrapper {
  width: 100%;
  max-width: 700px;
  height: auto;
  padding-bottom: 50px;
}
.comentarios-wrapper p {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}
.autor-img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.autor-img img {
  width: 100%;
  height: auto;
}
.autor-infos-wrapper {
  width: 100%;
  height: auto;
  padding-left: 40px;
}
.escrito {
  font-size: 18px;
  line-height: 21px;
  font-weight: bolder;
}
.autor-texts {
  width: 100%;
  height: 100%;
}
.autor-texts .titulo {
  font-size: 25px;
  line-height: 30px;
  font-weight: bolder;
  color: #60B38D;
  padding: 20px 0;
}
.autor-texts .about {
  font-size: 16px;
  line-height: 29px;
  color: #414141;
  padding-bottom: 40px;
}
.autor-share img {
  width: auto;
  height: 22px;
  padding-left: 20px;
}
.autor-share img:hover {
  transition: transform 0.2s ease-out;
  transform: translateY(-0.25em);
  opacity: 0.8;
}
.posts-relacionados {
  width: 100%;
  height: auto;
  background: #F3F7FB;
}
.posts-relacionados-title {
  color: #06606B;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0 20px 60px;
}
.relacionados-wrapper {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 0 0 40px;
}
.relacionados-item {
  width: 100%;
  height: auto;
  background: #fff;
}
.relacionados-content {
  width: 100%;
  height: auto;
  padding: 30px 25px;
}
.relacionados-img img {
  width: 100%;
  height: auto;
}
.related-categoria {
  width: auto;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 20px;
}
.related-categoria p {
  font-size: 12px;
  text-transform: lowercase;
  width: auto;
  border-radius: 4px;
  padding: 7px 14px;
  color: #fff;
  background: #60B38D;
}
.related-button {
  bottom: 0;
}
.related-button button {
  width: 100%;
  height: auto;
  background: #06606B;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}
.related-button button:hover {
  opacity: 0.8;
}
.related-button button a {
  color: #fff;
  font-weight: bolder;
  font-size: 12px;
}
.related-titulo {
  font-size: 18px;
  color: #06606B;
  line-height: 24px;
  padding-bottom: 10px;
}
.related-subtitulo {
  font-size: 14px;
  color: #919191;
  line-height: 24px;
  padding-bottom: 30px;
}
@media (max-width: 800px) {
  .btns-share-left {
    display: none;
  }
  .autor-data-leitura-wrapper {
    flex-flow: column;
  }
  .post-info-text {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .relacionados-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 600px) {
  .autor-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .autor-infos-wrapper {
    padding-top: 60px;
    padding-left: unset;
  }
  .relacionados-wrapper {
    grid-template-columns: 1fr;
  }
  .box-green button {
    width: auto;
    height: 35px;
  }
  .posts-relacionados-title {
    padding: 30px 0 20px 40px;
  }
}