.accordion-wrapper {
  background: #60B38D;
}
.accordion-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 70px 0 50px;
  color: #fff;
  text-align: center;
}
.accordion-wrapper h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  padding: 20px 0 20px;
  text-align: center;
}
.accordion-wrapper p {
  color: #fff;
  font-size: 16px;
  padding: 0 0 10px;
  text-align: center;
}
.react-sanfona {
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 40px;
}
.react-sanfona-item {
  width: 100%;
  height: auto;
  margin: 20px 0;
  background: #fff;
  border-radius: 3px;
}
.react-sanfona-item-title {
  width: 100%;
  height: auto;
  color: #414141;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 20px;
  padding-left: 40px;
}
.react-sanfona-item-body-wrapper {
  background: #0A616C;
  border-radius: 0 0 3px 3px;
  padding: 20px;
  text-align: left;
}
.react-sanfona-item-title[aria-expanded="false"] {
  content: '';
  background-image: url('../../static/assets/arrow-green-down.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  right: 20px;
}
.react-sanfona-item-title[aria-expanded="true"] {
  content: '';
  background-image: url('../../static/assets/arrow-green-up.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  right: 20px;
}
@media (max-width: 992px) {
  .react-sanfona {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .react-sanfona {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .react-sanfona {
    max-width: 540px;
    padding: 20px;
  }
  .react-sanfona-item {
    margin: 10px 0;
  }
  .accordion-wrapper h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
