.carousel-wrapper {
  width: 100%;
  height: 500px;
}
.slick-slider {
  width: 100%;
  height: 100%;
}
.slick-list {
  width: 100%;
  height: 100%;
  padding-top: 50px !important;
}
.slick-dots {
  bottom: 0 !important;
}
.slick-prev {
  left: 0 !important;
  z-index: 9 !important;
}
.slick-prev:before {
  content: url('../../static/assets/arrow-left.png') !important;
}
.slick-next {
  right: 0 !important;
  z-index: 9 !important;
}
.slick-next:before {
  content: url('../../static/assets/arrow-right.png') !important;
}
.slick-dots li button:before {
  color: #60B38D !important;
}
.car-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  position: relative;
  width: 100%;
  height: auto;
}
.car-items-wrapper iframe {
  position: relative;
  right: 0;
}
.car-texts-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: auto;
  height: auto;
  padding-right: 50px;
}
.car-texts-wrapper h3 {
  color: #60B38D;
  font-size: 14px;
  text-transform: uppercase;
}
.quote {
  color: #414141;
  font-size: 14px;
  width: 100%;
  height: auto;
  padding: 20px 0 0;
}
.quote-autor {
  color: #8C8C8C;
  font-size: 12px;
  width: 100%;
  height: auto;
  font-style: italic;
  padding: 10px 0;
}
.green-box {
  background: #60B38D;
  width: 300px;
  height: 380px;
  position: absolute;
  z-index: -1;
  right: 40px;
  top: -35px;
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  .carousel-wrapper {
    height: 600px;
  }
  .green-box {
    display: none;
  }
  .car-items-wrapper {
    flex-flow: column;
  }
  .car-texts-wrapper {
    align-items: center;
    padding-right: 0;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .carousel-wrapper {
    height: 600px;
  }
  .car-items-wrapper iframe {
    width: auto;
  }
}
@media (max-width: 400px) {
  .carousel-wrapper {
    height: 600px;
  }
  .slick-prev, 
  .slick-next {
    display: none !important;
  }
}