.clientes-wrapper {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.clientes-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.clientes-wrapper .container h1 {
  color: #06606B;
  font-size: 32px;
  font-weight: 400;
  padding: 0 0 30px;
  text-align: center;
}
.clientes-wrapper .logos-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
}
.clientes-wrapper .logos-grid .AMar,
.clientes-wrapper .logos-grid .PromoPrev,
.clientes-wrapper .logos-grid .DoisW,
.clientes-wrapper .logos-grid .Reiko
 {
  max-width: 100px;
  width: 100%;
  height: auto;
  
}
.clientes-wrapper .logos-grid .Growth
 {
  max-width: 200px;
  width: 100%;
  height: auto;
}
.clientes-wrapper .logos-grid .Wdi
 {
  max-width: 50px;
  width: 100%;
  height: auto;
}