.clientes-wrapper {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.clientes-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.clientes-wrapper .container h1 {
  color: #06606B;
  font-size: 32px;
  font-weight: 400;
  padding: 0 0 50px;
  text-align: center;
}
.clientes-wrapper .logos-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 10px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.clientes-wrapper .logos-grid a {
  justify-self: center;
  align-self: center;
}
.clientes-wrapper .logos-grid .AMar,
.clientes-wrapper .logos-grid .PromoPrev,
.clientes-wrapper .logos-grid .DoisW,
.clientes-wrapper .logos-grid .Reiko
 {
  max-width: 100px;
  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;
}
.clientes-wrapper .logos-grid .Growth
 {
  max-width: 200px;
  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;
}
.clientes-wrapper .logos-grid .Wdi
 {
  max-width: 50px;
  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;
}
@media (max-width: 576px) {
  .clientes-wrapper .logos-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .clientes-wrapper .container h1 {
    font-size: 30px;
    line-height: 36px;
  }
}