.como-funciona-wrapper {
  width: 100%;
  height: auto;
}
.como-funciona-wrapper h1 {
  color: #06606B;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  padding: 50px 0 20px;
  text-align: center;
}
.como-funciona-wrapper .subtitle {
  color: #414141;
  font-size: 16px;
  padding: 0 0 70px;
  text-align: center;
}
.como-funciona-wrapper .voce p,
.como-funciona-wrapper .nos p {
  color: #60B38D;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 0 50px;
  text-align: center;
}
.como-funciona-wrapper .voce ul,
.como-funciona-wrapper .nos ul {
  width: 300px;
  margin: 0 auto;
}
.como-funciona-wrapper .voce ul li,
.como-funciona-wrapper .nos ul li {
  color: #414141;
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 20px;
  text-align: left;
  list-style-image: url('../../static/assets/ponto-verde.png');
}
.como-funciona-wrapper .texts-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
  padding-bottom: 50px;
}
.como-funciona-wrapper .voce{
  padding-right: 90px;
}
@media (max-width: 768px) {
  .como-funciona-wrapper .voce{
    padding-right: 0;
    padding-bottom: 50px;
  }
  .como-funciona-wrapper .texts-wrapper {
    flex-flow: column;
    align-items: center;
  }
  .como-funciona-wrapper .voce ul,
  .como-funciona-wrapper .nos ul {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .como-funciona-wrapper h1 {
    font-size: 30px;
    line-height: 36px;
  }
}