.destaque-item {
  width: 100%;
  height: 412px;
  padding-bottom: 67px;
  position: relative;
}
.destaque-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
.categoria-tag {
  width: auto;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 20px;
}
.categoria-tag p {
  font-size: 13px;
  line-height: 14px;
  text-transform: lowercase;
  width: auto;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
}
.destaque-titulo {
  font-weight: lighter;
  font-size: 36px;
  line-height: 40px;
}
.destaque-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.destaque-image a {
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(100%) sepia(1) saturate(1) opacity(1) brightness(41%) contrast(99%) hue-rotate(92deg);
  -webkit-filter: grayscale(100%) sepia(1) saturate(1) opacity(1) brightness(41%) contrast(99%) hue-rotate(92deg);
}
.destaque-infos-wrapper {
  position: absolute;
  width: auto;
  height: 100%;
  color: #fff;
  z-index: 1;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
}
.data-leitura-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row;
}