.destaque-item {
  width: 100%;
  height: 412px;
  padding-bottom: 67px;
  position: relative;
}
.categoria-tag {
  border: 2px solid #fff;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px;
}
.destaque-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.destaque-image a {
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.image:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
.destaque-infos-wrapper {
  position: absolute;
  width: auto;
  height: 100%;
  color: #fff;
  z-index: 1;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
}
.data-leitura-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row;
}