.duvidas-wrapper {
  background: #06606B;
  padding: 50px 0;
}
.duvidas-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #fff;
}
.duvidas-wrapper .title {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.duvidas-wrapper .subtitle {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.duvidas-wrapper button {
  border: unset;
  border-radius: 3px;
  background: #60B38D;
  padding: 10px 30px;
  color: #fff;
}