@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html { 
  width: 100%;
  height: 100%; 
  overflow:auto;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #60B38D;
}
::selection {
  background-color: #60B38D;
  color: #fff;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
button {
  cursor: pointer;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 20px 40px;
}
.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}
div img {
  width: 100%;
  height: auto;
}
pre {
  background: lightgray;
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}
code {
  font-size: 85%;
  padding: 0.15em 0;
  background: lightgray;
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid #000;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}