#Header-Blog.header-blog {
  background: transparent;
  height: auto;
  width: 100%;
  padding-top: 10px;
}
#Header-Blog .header-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
#Header-Blog .header-wrapper-active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#Header-Blog .header-right-desk {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
#Header-Blog .header-right-desk a {
  height: 18px;
}
#Header-Blog .header-right-desk a:hover {
  opacity: 0.6;
}
#Header-Blog .logo-header {
  width: 100%;
  height: auto;
}
#Header-Blog .logo-header img {
  max-width: 100%;
  height: auto;
}
#Header-Blog .btn-materiais {
  width: auto;
  height: auto;
  margin: 0 40px;
}
#Header-Blog a.btn-materiais {
  color: #06606B;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
#Header-Blog header .btn-fale {
  width: 240px;
  height: 40px;
  background: #06606B;
  outline: unset;
  border: unset;
  border-radius: 4px;
}
#Header-Blog header a .btn-fale {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
#Header-Blog header button:hover {
  opacity: 0.9;
}
#Header-Blog .button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Header-Blog .button-blank:hover {
  opacity: 0.6;
}
#Header-Blog .menu-button {
  display: none;
}
#Header-Blog .header-right-mob {
  display: none;
}

/* desktop */

@media (max-width: 1000px) {
  #Header-Blog.header-blog .btns-wrapper {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    text-align: center;
  }
  #Header-Blog .btn-materiais {
    width: 100%;
    margin: 0;
  }
  #Header-Blog header button.btn-fale {
    margin-top: 20px;
  }
  #Header-Blog .search-header {
    padding-top: 40px;
  }
  #Header-Blog .menu-button {
    display: flex;
  }
  #Header-Blog .menu-button .x {
    margin-top: 20px;
  }
  #Header-Blog .header-right-desk {
    display: none;
  }
  #Header-Blog .header-right-mob a {
    padding-top: 20px;
  }
  #Header-Blog .header-wrapper-active .header-right-mob {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
