.header-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper-active {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: relative;
}
.bg-header-green {
  background: #06606B !important;
}
.header-right-desk {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.header-right-desk a:hover {
  opacity: 0.6;
}
.logo-header {
  width: 100%;
  height: auto;
}
.logo-header img {
  max-width: 100%;
  height: auto;
}
.btn-materiais-post {
  width: 150px;
  height: 40px;
  background: transparent;
  outline: unset;
  border: unset;
  border-radius: 4px;
  margin-right: 30px;
}
.btn-materiais-post a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
header button.btn-fale {
  width: 240px;
  height: 40px;
  background: #06606B;
  outline: unset;
  border: 1px solid #fff;
  border-radius: 4px;
}
header button.btn-fale a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
header button:hover {
  opacity: 0.9;
}
.btns-wrapper {
  display: flex;
  flex-flow: row;
}
.button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-blank:hover {
  opacity: 0.6;
}
.menu-button {
  display: none;
}
.header-right-mob {
  display: none;
}

/* desktop */

@media (max-width: 800px) {
  .btns-wrapper {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
  }
  .btn-materiais-post {
    width: 100%;
  }
  header button.btn-fale {
    margin-top: 20px;
  }
  .search-header {
    padding-top: 40px;
  }
  .menu-button {
    display: flex;
  }
  .menu-button .x {
    margin-top: 20px;
  }
  .header-right-desk {
    display: none;
  }
  .header-right-mob a {
    padding-top: 20px;
  }
  .header-wrapper-active .header-right-mob {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
