#Header-Post.header-post {
  padding-top: 10px;
}
#Header-Post .header-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
#Header-Post .header-wrapper-active {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
}
#Header-Post .bg-header-green {
  background: #06606B !important;
}
#Header-Post .header-right-desk {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
#Header-Post .header-right-desk a:hover {
  opacity: 0.6;
}
#Header-Post .logo-header {
  width: 100%;
  height: auto;
}
#Header-Post .logo-header img {
  max-width: 100%;
  height: auto;
}
#Header-Post .btn-materiais {
  width: auto;
  height: auto;
  margin-right: 30px;
}
#Header-Post a.btn-materiais {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
#Header-Post .btn-fale {
  width: 240px;
  height: 40px;
  background: #06606B;
  outline: unset;
  border: 1px solid #fff;
  border-radius: 4px;
}
#Header-Post .btn-fale {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}
button:hover {
  opacity: 0.9;
}
.button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-blank:hover {
  opacity: 0.6;
}
.menu-button {
  display: none;
}
.header-right-mob {
  display: none;
}

/* desktop */

@media (max-width: 1000px) {
  #Header-Post.header-post .btns-wrapper {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    text-align: center;
  }
  #Header-Post .btn-materiais {
    width: 100%;
  }
  #Header-Post button.btn-fale {
    margin-top: 20px;
  }
  #Header-Post .search-header {
    padding-top: 40px;
  }
  #Header-Post .menu-button {
    display: flex;
  }
  #Header-Post .menu-button .x {
    margin-top: 20px;
  }
  #Header-Post .header-right-desk {
    display: none;
  }
  #Header-Post .header-right-mob a {
    padding-top: 20px;
  }
  #Header-Post .header-wrapper-active .header-right-mob {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
