.hero {
  height: auto;
  width: 100%;
  background: #06606B;
  padding: 30px 0 80px 0;
}
.hero .container {
  height: auto;
  width: 100%;
  background: #06606B;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
.text-hero {
  width: 100%;
  height: auto;
  padding: 30px 50px 0 0;
  color: #fff;
}
.text-hero h1 {
  font-size: 38px;
  line-height: 40px;
  color: #fff;
  font-weight: 400;
}
.text-hero p {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: 200;
  padding: 40px 0;
}
.img-hero {
  width: 100%;
  height: auto;
  padding-left: 50px;
}
.img-hero img {
  width: 100%;
  height: auto;
}
.btns-hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
}
.btns-hero a {
  padding: 0 20px 20px 0;
}
.btn-green {
  background: #60B38D;
  width: 220px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: unset;
  border-radius: 3px;
  font-size: 14px;
}
.btn-transparent {
  background: transparent;
  width: 220px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: 1px solid #60B38D;
  border-radius: 3px;
  font-size: 14px;
}
.btn-green:hover,
.btn-transparent:hover {
  opacity: 0.8 ;
}

/* desktop */

@media (max-width: 768px) {
  .hero .container {
    flex-flow: column;
  }
  .text-hero {
    padding-right: unset;
  }
  .img-hero {
    padding-left: unset;
    padding-top: 40px;
  }
}
@media (max-width: 576px) {
  .btns-hero {
    flex-flow: column;
  }
}
