.ilustra-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.ilustra-wrapper .container h1 {
  color: #06606B;
  font-size: 36px;
  font-weight: 400;
  padding: 50px 0 30px;
}
.ilustra-wrapper .container img {
  max-width: 900px;
  width: 100%;
  height: auto;
}
.ilustra-wrapper .texts-wrapper .barra-verde {
  max-width: auto;
  width: auto;
  height: 3px;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .ilustra-wrapper .container {
    flex-flow: column;
  }
}
@media (max-width: 576px) {
}