.materiais-page .hero {
  height: auto;
  width: 100%;
  background: #fff;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.materiais-page .text-hero {
  width: 100%;
  height: auto;
  padding-right: 50px;
}
.materiais-page .text-hero h1 {
  font-size: 52px;
  line-height: 62px;
  color: #06606B;
  font-weight: 400;
}
.materiais-page .text-hero p {
  font-size: 19px;
  line-height: 30px;
  color: #06606B;
  font-weight: 400;
  padding-top: 40px;
}
.materiais-page .img-hero {
  width: 100%;
  height: auto;
  padding-left: 50px;
}
.materiais-page .img-hero img {
  width: 100%;
  height: auto;
}

/* desktop */

@media (max-width: 768px) {
  .materiais-page .hero {
    flex-flow: column;
  }
  .materiais-page .text-hero {
    padding-right: unset;
  }
  .materiais-page .img-hero {
    padding-left: unset;
    padding-top: 40px;
  }
}
