.post-card {
  width: 100%;
  height: auto;
  background: #F3F7FB;
}
.post-card:hover,
.post-card:focus {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.post-card-image {
  width: 100%;
  height: auto;
}
.post-card-content {
  width: 100%;
  height: auto;
  padding: 0 25px 25px;
}
.post-card-category {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 0;
}
.post-card-category p {
  border: 1px solid #60B38D;
  font-size: 12px;
  text-transform: lowercase;
  width: auto;
  border-radius: 4px;
  padding: 7px 14px;
  color: #60B38D;
}
.blog-post-titulo {
  font-size: 18px;
  line-height: 25px;
  color: #06606B;
  padding-bottom: 20px;
  font-weight: bolder;
}
.blog-post-subtitulo {
  font-size: 14px;
  line-height: 25px;
  color: #414141;
  padding-bottom: 40px;
}
.date-leitura-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
}
.date-leitura-wrapper p {
  padding-right: 20px;
  font-size: 14px;
  color: #60B38D;
}
.date-leitura-wrapper img {
  padding-right: 5px;
  width: auto;
  height: 15px;
}
@media screen and (max-width: 400px) {
  .post-card {
    width: 290px;
  }
}