.post-section {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.post-section-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}
.ver-mais {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 20px;
}
.ver-mais button {
  width: 185px;
  height: 43px;
  border: 2px solid #60B38D;
  color: #60B38D;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
}
.ver-mais button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 888px) {
  .post-section-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .post-section-wrapper {
    grid-template-columns: 1fr;
  }
}
