.search {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.search .react-search-field {
  border: unset !important;
  justify-content: unset !important;
  height: unset !important;
  display: flex !important;
  flex-flow: row !important;
  width: 100%;
  margin: 0 auto;
}
.search .react-search-field input[type='text'] {
  right: 0 !important;
  border: 0 !important;
  padding: 16px 15px !important;
  background: #FFFFFF !important;
  border: 1px solid #A09F9F !important;
  margin: 25px auto 0px !important;
  height: 30px !important;
  border-radius: 4px 0 0 4px;
}
.search .react-search-field input[type='text']:focus {
  border: 1px solid #60B38D !important;
}
.search .react-search-field input[type='text']::placeholder {
  font-family: var(--font-secondary) !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #A09F9F !important;
  text-align: left;
}
.search .react-search-field button {
  width: 100px !important;
  height: 34px !important;
  margin: 25px auto 0px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 29px !important;
  color: #fff !important;
  background: #60B38D !important;
  border: none !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  padding: 0 !important;
  border-radius: 0 4px 4px 0;
}
.search .react-search-field button:hover {
  opacity: 0.9;
}
.search .react-search-field button::after {
  content: "BUSCAR";
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
}
.search .react-search-field button.react-search-field-button svg {
  display: none !important;
}
.search-text-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.search-text-wrapper p {
  font-size: 24px;
  line-height: 30px;
  color: #06606B;
  font-weight: lighter;
  text-align: center;
  font-weight: bolder;
}

/* desktop */

@media (max-width: 768px) {
  .search .react-search-field {
    width: 100%;
  }
  .search .react-search-field input[type='text']::placeholder {
    font-size: 14px !important;
  }
  .search .react-search-field button {
    font-size: 8px !important;
    width: 60px !important;
  }
  .search-text-wrapper p {
    font-size: 26px;
  }
}
